
.font-title{
    font-size: 60px;
    font-family: 'Play', sans-serif;
}

.font-body{
    font-size: 20px;
    font-family: 'Noticia Text', serif;
    text-align: justify;
    text-justify: inter-word;
    line-height: 40px;
}

.net {
    justify-self: end;
    padding-right: 10px;
}

body {
    background-color: #343a40;
}

.linkedin {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: color font-size 1s;
}

.github {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: color font-size 1s;
}

.twitter {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: color font-size 1s;
}

.instagram {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: color font-size 1s;
}

.location {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: color font-size 1s;
}

.linkedin:hover{
    font-size: 3.5rem;
    color: #00d9ff;
}

.github :hover{
    font-size: 2.3rem;
    color: #211F1F;
}

.twitter :hover{
    font-size: 3.5rem;
    color: #00acee;
}

.instagram :hover{
    font-size: 3.5rem;
    color: #c32aa3;
}

.location :hover{
    font-size: 2.1rem;
    color: #ff0000;
}

.f1{
    color: white;
    margin-top: -105px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
 }

.ft0 {
    margin-top: -190px;
}

.ft1 {
    height: 200px; 
    overflow: hidden;
}

.ft2 {
    height: 100%; 
    width: 100%;
}

.ft3 {
    stroke: none; 
    fill: rgb(0, 0, 0);
}

.ft4 {
    stroke: none; 
    fill: rgb(255, 255, 255);
}

.ft5 {
    margin-top: 113px;
}

.lc{
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
}

.lc1{
   margin-bottom: 7px;
   margin-right: 2px;

}

a{
    cursor: pointer;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.letters{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media screen and (min-width: 1200px){
    .content{
        height: 560px;
    }
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){



    .ft0 {
        margin-top: -190px;
    }
    
    .ft5 {
        margin-top: 80px;
    }
}

@media screen and (max-width: 576px){

}